@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital@0;1&display=swap");
@import "tailwindcss";

#root {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;

  box-sizing: border-box;
}

body {
  height: 100vh;
}

@tailwind utilities;
